@font-face {
  font-family: 'Monument Extended';
  src: url('./assets/fonts/MonumentExtended-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
  src: url('./assets/fonts/MonumentExtended-Ultrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Univia Pro';
  src: url('./assets/fonts/UniviaPro-Regular.woff2') format('woff2');
}

@-webkit-keyframes movie
{
	0%
	{
		-webkit-transform:translate(0, 0);
	transform:translate(0, 0)}

	10%
	{
		-webkit-transform:translate(-5%, -5%);
	transform:translate(-5%, -5%)}

	20%
	{
		-webkit-transform:translate(-10%, 5%);
	transform:translate(-10%, 5%)}

	30%
	{
		-webkit-transform:translate(5%, -10%);
	transform:translate(5%, -10%)}

	40%
	{
		-webkit-transform:translate(-5%, 15%);
	transform:translate(-5%, 15%)}

	50%
	{
		-webkit-transform:translate(-10%, 5%);
	transform:translate(-10%, 5%)}

	60%
	{
		-webkit-transform:translate(15%, 0);
	transform:translate(15%, 0)}

	70%
	{
		-webkit-transform:translate(0, 10%);
	transform:translate(0, 10%)}

	80%
	{
		-webkit-transform:translate(-15%, 0);
	transform:translate(-15%, 0)}

	90%
	{
		-webkit-transform:translate(10%, 5%);
	transform:translate(10%, 5%)}

	to
	{
		-webkit-transform:translate(5%, 0);
	transform:translate(5%, 0)}
}

@keyframes movie
{
	0%
	{
		-webkit-transform:translate(0, 0);
	transform:translate(0, 0)}

	10%
	{
		-webkit-transform:translate(-5%, -5%);
	transform:translate(-5%, -5%)}

	20%
	{
		-webkit-transform:translate(-10%, 5%);
	transform:translate(-10%, 5%)}

	30%
	{
		-webkit-transform:translate(5%, -10%);
	transform:translate(5%, -10%)}

	40%
	{
		-webkit-transform:translate(-5%, 15%);
	transform:translate(-5%, 15%)}

	50%
	{
		-webkit-transform:translate(-10%, 5%);
	transform:translate(-10%, 5%)}

	60%
	{
		-webkit-transform:translate(15%, 0);
	transform:translate(15%, 0)}

	70%
	{
		-webkit-transform:translate(0, 10%);
	transform:translate(0, 10%)}

	80%
	{
		-webkit-transform:translate(-15%, 0);
	transform:translate(-15%, 0)}

	90%
	{
		-webkit-transform:translate(10%, 5%);
	transform:translate(10%, 5%)}

	to
	{
		-webkit-transform:translate(5%, 0);
	transform:translate(5%, 0)}
}

@keyframes dotsOpacity {
  0% {
      opacity: .2;
  }
  50% {
      opacity: .4;
  }
  100% {
      opacity: .2;
  }
}

html {
    background-color: #050505;
}

#glitchBg {
  position: fixed;
  pointer-events: none;
  -webkit-animation: movie 1s steps(4) infinite;
  animation: movie 1s steps(4) infinite;
  // background-image: url('https://karim-badwork-back.herokuapp.com/uploads/movie_3c3f14dcb3.png');
  background-image: url('https://badwork.fr/assets/img/movie.png');
  height: 200%;
  left: -50%;
  top: -50%;
  width: 200%;
  opacity: .7;
  z-index: 99;
}
  
.App {
  background-color: #050505;
  font-family: 'Univia Pro', sans-serif;

  .container {
    min-height: 200px;
  }

  .container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #hero {
    min-height: 100vh;
  }

  .hello {
    .col-6 {
      padding-right: 0;
    }
  }

  .min-width {
    height: 100px;
  }

  .first-column {
    h2 {
      padding-right: 15px;
    }
  }

  .hello {
    margin-top: 10vh;
    & > div {
      display: inline-flex;
      //justify-content: flex-end;

      h1 {
        font-size: 88px;
        font-weight: 700;
        font-family: 'Monument Extended Ultrabold', sans-serif;
        color: #404040;
        z-index: 1;

        &:hover {
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #404040;
          color: transparent;
        }
      }

      .marker {
        height: 160px;
        width: auto;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 480px;

        svg {
          width: 100%;
          overflow: visible;

          path {
            fill:none;
            stroke:#eee;
            stroke-width: 5px;
            stroke-miterlimit:10;
            fill-rule:evenodd;
          }
        }
      }

    }
  }



  .subtitle h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Monument Extended', sans-serif;
    color: #E7E7E7;
    position: absolute;
    width: 100%;

    // &.black {
    //   color: #000;
    // }

    // &.red {
    //   color: #be1e2d;
    // }

    // &.yellow {
    //   color: #ffde17;
    // }

    // &.white {
    //   color: #FFF;
    // }

    // &.blue {
    //   color: #21409A;
    // }
  }

  .selected-works {
    margin-top: 180px;
    h2 {
      font-size: 72px;
      font-weight: 700;
      font-family: 'Monument Extended', sans-serif;
      color: #E7E7E7;
      width: 100%;
      text-align: center;
      padding-left: 180px;

      &:hover {
        font-weight: 300;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #E7E7E7;
        color: transparent;
      }
    }

    .works-list {
      margin-top: 90px;
      display: flex;
      flex-direction: column;

      .work {
        margin-bottom: 90px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
          "title illustration";

        &:hover {
          .work-title h3 {
            font-weight: 300;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #c7c7c7;
            color: transparent;
          }
        }

        .work-title {
          grid-area: title;

          h3 {
            font-size: 42px;
            font-weight: 700;
            font-family: 'Monument Extended', sans-serif;
            color: #c7c7c7;
          }
          .work-description {
            text-align: right;
            padding-right: 90px;
            color: #e7e7e7;
          }
        }
        .illustration {
          grid-area: illustration;
          height: 180px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &:nth-of-type(2n) {
          grid-template-columns: 60% 40%;
          grid-template-areas: 
            "illustration title";

          .work-title {

            h3 {
              text-align: right;
            }
            .work-description {
              text-align: left;
              padding-right: 0;
              padding-left: 90px;
            }
          }
        }
      }
    }
  }

  .bubble {
    width: fit-content;
    padding: 2px 20px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    background-color: #212121;
    color: #e7e7e7;
    font-family: 'Univia Pro', sans-serif;
    min-height: 40px;
    min-width: 75px;

    .loading {
      position: absolute;
      font-size: 24px;
      font-weight: 800;

      b {
        animation: dotsOpacity 750ms infinite ease;
        margin-right: 3px;

        &:nth-of-type(2) {
          animation-delay: 250ms;
        }

        &:nth-of-type(3) {
          animation-delay: 500ms;
        }

      }
    }

    .content {
      position: absolute;
      margin-top: 7px;
      font-weight: 500;
    }
  }

  .description {
    margin-top: 180px;
    color: #c7c7c7;
    font-family: 'Univia Pro', sans-serif;
    font-weight: 500;
    font-size: 24px;


    &.show {
      opacity: 1;
      transition: opacity 500ms ease;
    }
  }

  .typo {
    margin-top: 180px;
    margin-bottom: 180px;
    #Typo {
      .typo-1 {
        fill: #e7e7e7;

        &.black {
          fill: #000;
        }

        &.red {
          fill: #be1e2d;
        }

        &.yellow {
          fill: #ffde17;
        }

        &.white {
          fill: #FFF;
        }

        &.blue {
          fill: #21409A;
        }
      }
    }
    #Lines {
      .cls-15 {
        fill: #666;
        stroke: #FFF;
        stroke-width: 6px;
      }
    }
  }

  .shapes {
    margin-top: 180px;
    margin-bottom: 180px;

    svg {
      height: 600px;
      overflow: visible;

      .shape {
        transform-origin: 50% 50%;
        transform-box: fill-box;
      }
    }


    .black {
      fill: #000;
    }

    .red {
      fill: #be1e2d;
    }

    .yellow {
      fill: #ffde17;
    }

    .white {
      fill: #FFF;
    }

    .blue {
      fill: #21409A;
    }
  }

  .parallax-bg {
    position: absolute;
    top: 0;
    height: 100vh;
  }

  #scene {
    display: flex;
    justify-content: center;

    div {
      width: 100vw;
      max-width: 1200px;
      height: 100%;
      min-height: 500px;
      margin-top: 10vh;

      svg {
        max-width: 1200px;

        path {
          stroke: #202020;
        }
      }
    }
  }

  .pacman {
    padding: 0;
    min-height: 90px;
    margin-top: 90px;

    .miam {

      svg {
        height: 200px;

        path {
          transform-origin: center;
          fill: lightgrey;
        }
      }
    }
  }

  .foot-quote {
    margin-top: 180px;
    h2 {
      font-size: 112px;
      font-weight: 700;
      font-family: 'Monument Extended', sans-serif;
      color: #E7E7E7;
      width: 70%;

      &:hover {
        font-weight: 300;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #E7E7E7;
        color: transparent;
      }
    }
  }

}
    
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}